parameters:
    autoload_files:
        - %currentWorkingDirectory%/vendor/autoload.php
    level: 7
    paths:
        - %currentWorkingDirectory%/src
    excludes_analyse:
        - %currentWorkingDirectory%/src/Migrations
