<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="phpunit.xsd"
    bootstrap="./tests/bootstrap.php"
    colors="true"
    processIsolation="false"
    stopOnFailure="true">

    <!-- Dummy values used to provide credentials. No need to change these. -->
    <php>
        <server name="INSALES_API_KEY" value="bar" />
        <server name="INSALES_PASSWORD" value="zoo" />
        <server name="INSALES_DOMAIN" value="foo" />
        <server name="TIU_TOKEN" value="foo" />
        <server name="TIU_URL" value="foo" />
        <server name="COURIERIST_LOGIN" value="foo" />
        <server name="COURIERIST_PASS" value="foo" />
        <server name="INPOST_KEY" value="foo" />
        <server name="INPOST_LOGIN" value="foo" />
        <server name="INPOST_PASSWORD" value="foo" />
        <server name="INPOST_PARSEL" value="foo" />
        <server name="INPOST_PARSELS" value="foo" />
        <server name="MOYSKLAD_LOGIN" value="foo" />
        <server name="MOYSKLAD_PASSWORD" value="bar" />
        <server name="FRUUGO_LOGIN" value="foo" />
        <server name="FRUUGO_PASSWORD" value="bar" />
        <server name="GETT_CLIENT_ID" value="foo" />
        <server name="GETT_CLIENT_SECRET" value="bar" />
        <server name="GETT_BUSINESS_ID" value="foobar" />
    </php>

    <testsuites>
        <testsuite name="InPost">
            <directory>tests/SaaS/Tests/Inpost</directory>
        </testsuite>
        <testsuite name="Tiu">
            <directory>tests/SaaS/Tests/Tiu</directory>
        </testsuite>
        <testsuite name="Courierist">
            <directory>tests/SaaS/Tests/Courierist</directory>
        </testsuite>
        <testsuite name="Insales">
            <directory>tests/SaaS/Tests/Insales</directory>
        </testsuite>
        <testsuite name="Moysklad">
            <directory>tests/SaaS/Tests/Moysklad</directory>
        </testsuite>
        <testsuite name="Fruugo">
            <directory>tests/SaaS/Tests/Fruugo</directory>
        </testsuite>
    </testsuites>

</phpunit>
